body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* signin */
.sign {
    min-height: 100vh;
    width: 100%;
    background: url("../assets/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 180px 100px black;
}

.logo {
    display: flex;
    justify-content: left;
    width: 100%;
}

.headerLogo {
    height: 55px;
    width: 175px;
    margin: 5px 0;
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
}

.container {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 70px 60px;
    color: #737373;
    min-height: 515px;
    max-width: 450px;
    margin: 20px 0;
}

.signinForm {
    width: 100%;
}

.input {
    border-radius: 4px;
    background-color: #333 !important;
    padding: 16px 20px;
    width: 100%;
    border-bottom: 2px solid #e87c03 !important;
}

.input::after {
    outline: none !important;
}

.input2 {
    margin-top: 20px !important;
}

.signinHeader {
    color: #fff;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 28px;
}

.error {
    color: #e87c03;
    padding: 6px 3px;
    font-size: 13px;
    display: none;
}

.signinBtn {
    background-color: #e50914;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    width: 100%;
    color: #fff;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 14px;
    cursor: pointer;
}

.signinBtn:hover {
    background-color: #87050b;
}

.forgot {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 80px;
}

.signupLink {
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.link1 {
    color: #fff;
    margin-left: 8px;
    text-decoration: none;
    cursor: pointer;
}

.bottomText {
    color: #8c8c8c;
    font-size: 13px;
    margin-top: 11px;
}

.clickable {
    color: #0071eb;
    cursor: pointer;
    margin-left: 5px;
}

.learnMore {
    display: none;
}

.checkbox-input {
    display: none;
}

.checkbox-label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    margin-right: 8px;
    border-radius: 2px;
}

.checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 4px;
}

.checkbox-input:checked+.checkbox-label::before {
    background-color: #333 !important;
}

.checkbox-label::after {
    content: "\2714";
    position: absolute;
    left: 3px;
    top: -2px;
    font-size: 15px;
    color: #000;
    font-weight: bolder;
    display: none;
}

.checkbox-input:checked+.checkbox-label::after {
    display: block;
}

.checkbox-label:hover::before {
    border-color: #666;
}

.inputLabel {
    display: flex;
    align-items: center;
}

.forgot {
    display: flex;
    justify-content: space-between;
}


.signinFooter {
    width: 100%;
    background: rgba(0, 0, 0, .75);
    padding: 30px 80px;
    margin-top: 80px;
}

.signinFooterList {
    display: flex !important;
    justify-content: space-between;
    padding-bottom: 20px;
}

.signin_Footer {
    display: flex;
    flex-direction: column
}

.footer_Item,
.footerDropdown {
    color: #737373;
    font-size: 16px;
}

.footerText {
    color: #737373;
    margin-bottom: 30px;
    font-size: 18px;
}

/* signup */

.signupContainer {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupLogoHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 100%;
}

.Btn1 {
    margin-right: 50px;
    width: 100px;
    font-weight: normal;
}

.loginBttns {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.logoBtn {
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    width: fit-content;
}

.logoImg {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:720px) {

    .container {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .signinFooter,
    .signupFooter {
        padding: 20px 10px;
        margin-top: 30px;
    }

    .signupLogoHeader {
        margin-bottom: 0;
    }

    .Btn1 {
        margin-right: 15px;
        font-weight: normal;
        padding: 5px;
    }

    .headerLogo {
        height: 35px;
        width: 125px;
        margin-left: 20px;
    }

    .footer_Item,
    .footerDropdown {
        font-size: 12px;
    }

    .footerText {
        font-size: 14px;
    }

    .signinFooterList {
        gap: 12px;
    }
}

/* default */

#container {
    background: url(../assets/images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    width: 100%;
    box-shadow: inset 0px 0px 250px 80px black;
}

.defaultPage {
    font-family: sans-serif !important;
    overflow-x: hidden;
}

.logo_Default {
    width: 200px;
    height: 50px;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
}

.language {
    font-size: 15px;
    background-color: black;
    color: white;
    opacity: 0.8;
    padding: 10px 17px;
    border-radius: 3px;
    cursor: pointer;
}

.navbar_Default {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn_Default {
    display: flex;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
    margin-bottom: 20px;
}

.borderDivs {
    background-color: #232323;
    height: 10px;
}

.signinBtn1 {
    font-size: 15px;
    background-color: #e50914;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.getStatedBtn {
    background-color: #e50914;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    width: 180px;
    color: #fff;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 14px;
    cursor: pointer;
}

.signinBtn1:hover,
.getStatedBtn:hover {
    background-color: #87050b;
}

#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;

}

.descriptionBigger {
    color: white;
    font-size: 44px;
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.5);
    text-align: center;
}

.desscriptionSmall {
    color: white;
    font-size: 24px;
    font-weight: 400;
    padding: 8px;
    padding-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.5);
    text-align: center;
}

#finish-btn {
    padding: 10px 20px 10px 20px;
    font-size: 23px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.box {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: center;
    justify-content: space-between;
}

.image {
    width: 220px;
    border-radius: 2px;
    cursor: pointer;
}

.detail>h1 {
    font-size: 55px;
    padding-bottom: 7px;
}

.detail>p {
    font-size: 20px;
}

.detail {
    color: white;
    justify-content: center;
    padding: 10%;

}

.kidsection {
    padding: 5%;
}

.question_Blocks {
    background-color: #303030;
    margin-bottom: 10px;
    width: 80%;
    padding: 30px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.question_Blocks:hover {
    background-color: #454444;
}

.questionBlock {
    padding: 70px;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#question {
    background-color: black;
}

.questionCall {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 80px;
}

#last {
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer_List {
    color: gray;
}

.footerDropdown {
    font-size: 15px;
    padding: 10px 17px;
    background-color: black;
    cursor: pointer;
}

#defaultFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerItem {
    padding-top: 20px;
    font-size: 14px;
    width: fit-content;
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}

.footerItem:hover {
    color: #e50914;
}

.bottom {
    width: 800px;
}

.netflixIndia {
    color: gray;
    padding-top: 40px;
    padding-bottom: 50px;
}

.questionBlockHeader {
    color: white;
    margin-bottom: 20px;
}

.fourthPoster {
    width: 440px;
}

@media screen and (max-width:720px) {

    #container {
        height: 100vh;
    }

    #description {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo_Default {
        width: 140px;
        height: 45px;
    }

    .detail>h1 {
        font-size: 28px;
    }

    .detail>p {
        font-size: 14px;
    }

    .descriptionBigger {
        font-size: 25px;
    }

    .desscriptionSmall {
        font-size: 15px;
    }

    .fourthPoster {
        width: 250px;
    }

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .questionBlockHeader {
        font-size: 30px;
    }

    .question_Blocks {
        font-size: 14px;
        width: 100%;
        padding: 15px;
    }

    .footerDropdown {
        font-size: 12px;
        padding: 8px 12px;
    }
}

@media screen and (max-width:550px) {
    .defaultFooter {
        display: none;
    }

    .language {
        font-size: 10px;
        padding: 10px 9px;
    }

    .btn_Default {
        padding-right: 10px;
    }

    .logo_Default {
        padding-left: 10px;
        width: 110px;
        height: 40px;
    }

}

@media screen and (min-width:551px) and (max-width: 850px) {
    .footerItem {
        font-size: 14px;
    }

    .bottom {
        padding-left: 40px;
    }

    .questionCall {
        font-size: 16px;
    }

    #defaultFooter {
        display: flex;
        justify-content: left;
        gap: 100px;
    }

    .question_Blocks {
        font-size: 14px;
    }

    .questionBlockHeader {
        font-size: 30px;
    }

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* Subscription */

.subscriptionFooter {
    width: 100%;
    background-color: #f3f3f3;
    padding: 30px 80px;
    margin-top: 80px;
}

.subscriptionDropdown {
    background-color: white;
}

.signoutBtn {
    all: unset;
    padding-right: 10px;
    width: 100px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.borderBottom {
    border-bottom: 1px solid #e6e6e6;
}

.sub_pTag {
    color: rgb(92, 91, 91);
}

.sub_tick {
    color: #e50914;
}

.sub_Header {
    color: rgb(92, 91, 91);
}

.terms {
    color: #0071eb;
    cursor: pointer;
}

.sub_pFooterTag {
    margin: 30px 0;
    font-size: 14px;
    color: #737373;
    text-align: justify;
}

.nextBtn {
    width: 25%;
}

.next {
    display: flex;
    justify-content: center;
}

.subscriptionContainer {
    margin: 100px 10%;
}

.subscriptionSection {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 40px 0;
}

.priceCards {
    border: 1px solid #a6a6a6;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.priceCards:hover {
    transform: scale(1.1);
    z-index: 1;
}

.price {
    padding: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #a6a6a6;
}

.price>p {
    color: rgb(92, 91, 91);
}

.featuresList {
    padding: 20px;
    padding-left: 30px;
}

.featuresList {
    color: rgb(92, 91, 91);
}

.priceCards:hover .price {
    background: rgb(68, 54, 140);
    background: linear-gradient(90deg,
            rgba(68, 54, 140, 1) 0%,
            rgba(122, 36, 104, 1) 35%,
            rgba(201, 15, 46, 1) 100%);
    color: white;
}

.priceCards:hover .price>p {
    color: white;
}

.priceCards:hover .featuresList .listText {
    color: black;
}

.priceCards:hover .featuresList {
    color: #e50914;
}

.priceCards.selected .price {
    background: rgb(68, 54, 140);
    background: linear-gradient(90deg,
            rgba(68, 54, 140, 1) 0%,
            rgba(122, 36, 104, 1) 35%,
            rgba(201, 15, 46, 1) 100%);
    color: white;
}

.priceCards.selected .price>p {
    color: white;
}

.priceCards.selected .featuresList .listText {
    color: black;
}

.priceCards.selected .featuresList {
    color: #e50914;
}

@media screen and (max-width:700px) {
    .subscriptionFooter {
        padding: 30px 20px;
        font-size: 12px;
    }

    .sub_Header {
        font-size: 14px;
    }

    .sub_Head {
        font-size: 18px;
    }

    .sub_pTag {
        font-size: 14px;
    }

    .nextBtn {
        font-size: 14px;
    }

    .sub_pFooterTag {
        font-size: 14px;
    }

    .featuresList {
        font-size: 14px;
    }

    .subscriptionSection {
        flex-wrap: wrap;
    }

    .signoutBtn {
        width: fit-content;
        padding-right: 14px;
    }

}

@media screen and (min-width: 701px) and (max-width: 950px) {
    .featuresList {
        font-size: 14px;
    }
}

/* Payment */

.launcingImgContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 50px;
}

.launcingImgContainer>img {
    width: 70%;
}

@media screen and (max-width: 700px) {
    .launcingImgContainer>img {
        width: 90%;
        height: 70vh;
        margin-top: 50px
    }

    .step1Container {
        margin-top: 50px;
    }

}

/* subscription step1 */

.step1Container {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.checkIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #e50914;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkIcon .check {
    font-size: 30px;
    color: #e50914;
}

.step1Text {
    display: flex;
    margin: 20px;
}

.step1Text .check {
    color: #e50914;
    margin-right: 15px;
}

.step1Text p {
    font-size: 18px;
}

/* navbar */

.navigationBarContainer {
    display: flex;
    flex-direction: column;
}

.searchSuggestionsContainer {
    display: none;
    background: #141414;
    padding: 40px 30px;
    overflow-x: hidden;
    min-height: 100vh;
    border-bottom: 1px solid #737373;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background: transparent;
    position: fixed;
    width: 100%;
    min-height: 80px;
    z-index: 1000;
}

.browseMenu {
    color: #e5e5e5 !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.5);
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    display: none;
}

.smallDevicesNavbar {
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.5);
}

.downArrowIcon {
    color: #fff !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.5);
    margin-left: 5px;
}

.browseList {
    width: 100px !important;
}

.searchContainer {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .75);
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 2px;
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
}

.searchIcon {
    margin-left: 5px;
}

.closeSearchIcon {
    cursor: pointer;
}

.searchInput {
    min-width: 320px;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
}

.navShow {
    background: rgb(20, 20, 20) !important;
}

.leftNav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navList {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.listItem {
    color: #e5e5e5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.5);
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.listItem:hover {
    color: #fff;
}

.navbarLogo {
    width: 110px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.rightNav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accountImg {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: none;
}

.navbarDropdown {
    border: none !important;
    background: transparent !important;
}

.icons {
    color: #fff !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1) !important;
    cursor: pointer;
    font-size: 28px !important;
}

.activeListItem {
    color: #fff;
    font-weight: 600;
}


@media screen and (max-width: 370px) {
    .searchInput {
        min-width: 100px;
        height: 30px;
    }

    .searchContainer {
        width: 60%;
    }
}

@media screen and (max-width: 750px) {
    .navigationBar {
        flex-direction: column;
    }

    .navList {
        display: none;
    }

    .browseMenu {
        display: block;
    }

    .leftNav {
        justify-content: space-between;
        width: 100%;
    }

    .rightNav {
        width: 100%;
        justify-content: right;
        gap: 14px;
    }

    .icons {
        font-size: 24px !important;
    }

    .accountImg {
        width: 24px;
        height: 24px;
    }

    .navbarLogo {
        width: 85px;
    }

    .icons {
        font-size: 22px !important;
    }

    .css-umr02u {
        padding: 0;
        line-height: normal;
    }
}

@media screen and (max-width: 950px) {
    .searchInput {
        min-width: 150px;
    }

    .navbarLogo {
        margin: 0;
    }

}

@media screen and (min-width: 751px) and (max-width: 850px) {
    .listItem {
        font-size: 12px;
    }

    .navList {
        gap: 8px;
    }
}

/* account */

.icon_text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.useAccountImg {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.accountItems {
    cursor: pointer !important;
}

.accountItemsIcons {
    color: white !important;
    padding: 0 13px 0 5px !important;
}

.iconText {
    color: #fff;
    ;
}

.iconText:hover {
    text-decoration: underline;
}

.lastIcon {
    text-align: center;
    border-top: 1px solid white;
    padding: 5px;
    padding-top: 10px;
}

.accountIcons {
    color: #b3b3b3 !important;
}

.menuList {
    background-color: rgba(0, 0, 0, .75) !important;
    border: 1px solid hsla(0, 0%, 100%, .15) !important;
    padding: 10px !important;
    z-index: 1000;
}


/* Footer */

.footerSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 10%;
    padding-bottom: 20px;
    background-color: #141414;
    color: grey;
}

.footerSectionIcons {
    display: flex;
    gap: 20px;
}

.footerIcons {
    color: #fff !important;
    font-size: 28px !important;
    cursor: pointer;
}

.footerSectionListContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.footerSectionItem {
    color: grey;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

.footerSectionItem:hover {
    text-decoration: underline;
}

.serviceCode {
    border: 1px solid grey;
    color: grey;
    font-size: 14px;
    width: fit-content;
    padding: 10px;
}

.copyrightText {
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 550px) {
    .footerIcons {
        font-size: 22px !important;
    }

    .copyrightText,
    .serviceCode,
    .footerSectionItem {
        font-size: 10px;
    }

    .footerSectionContainer {
        padding: 80px 5%;
    }

    .footerSectionListContainer {
        gap: 20px
    }

}

/* helpcentre */

.helpCenter {
    margin-bottom: 10px;
}

.helpCentreHeader {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 25px;
}

.headerHelp {
    color: #fff;
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
}

.helpCenterSearch {
    display: flex;
    justify-content: center;
    width: 100%;
}

.helpSearchIcon {
    color: #737373 !important;
}

.helpcentreInputContainer {
    border: 1px solid #737373;
    background: #fff !important;
    width: 70%;
}

.helpcentreInput {
    background: transparent;
    color: #000;
    width: 100%;
}


.helpCentreSignoutBtn {
    color: #e50914;
}

.helpCenterFooter {
    width: 100%;
    background: #000;
    background: linear-gradient(10deg, rgba(229, 9, 20, 0) 58%, rgb(229, 9, 20) 128%), #000;
    padding: 30px 80px;
}

.helpTextBtn {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px 0;
    border-bottom: 1px solid #737373;
}

.helpCentreFooterList {
    margin: 30px 0;
}

.helpCentre_Item {
    color: #fff;
    margin-bottom: 20px;
}

.helpText {
    color: #fff;
}

.contactBtn {
    background-color: #fff;
    color: #000;
    width: fit-content;
}

.helpCentreRecomendations {
    padding: 30px 40px;
    background: #fafafa;
    border-bottom: 1px solid #dedede;
}

.helpCentreRecomendations>h2 {
    color: #620409;
    margin-bottom: 10px;
    font-weight: 800;
}

.helpCentreRecomendations>p {
    color: #620409;
    margin-bottom: 20px;
}

.recommendationsTextContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommendationstext {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 16px;
    border-radius: 4px;
}

.recommendationstext>p {
    font-weight: 600;
    cursor: pointer;
}

.recommendationstext>p:hover {
    color: #e50914;
    text-decoration: underline;
}

.helpCentreListContainer {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.helpCentreLists {
    list-style: none;
    width: 30%;
}

.iconWithText {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.helpCentreListsItem {
    margin-bottom: 12px;
    color: #4c4948;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.helpCentreListsItem:hover {
    color: #e50914;
    text-decoration: underline;
}

.helpCenterListHeader {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;
    color: #620409;
    cursor: default;
}

.helpCenterListHeader:hover {
    text-decoration: none;
    color: #620409;
}

.helpCentreArrowIcon {
    color: #e50914 !important;
}

@media screen and (max-width: 550px) {
    .helpText {
        font-size: 18px;
    }

    .helpCentreLists {
        width: 70%;
    }

    .helpTextBtn {
        flex-direction: column;
        gap: 10px;
    }

    .contactBtn {
        font-size: 14px;
    }

    .helpCentre_Item {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {

    .recommendationsTextContainer {
        flex-direction: column;
        gap: 10px;
    }

    .recommendationstext {
        width: 280px;
        font-size: 14px;
    }

    .helpCentreListContainer {
        flex-direction: column;
    }

    .helpCentreHeader,
    .helpCenterContainer,
    .helpCenterFooter {
        overflow-x: hidden;
    }

    .helpCentreLists {
        margin-bottom: 30px;
    }

    .helpCentreListsItem {
        font-size: 13px;
    }

    .helpCenterListHeader {
        font-size: 16px;
    }
}

/* movie-trailer */

.movieTrailer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.movieTrailerContainer {
    position: relative;
    width: 100%;
}

.movieTrailerImage {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.movieTrailerContent {
    width: 40%;
    left: 4%;
    position: absolute;
    top: 40%;
    padding: 20px;
    background: transparent;
    color: white;

}

.movieTrailerTitle,
.movieTrailerDescription {
    margin-bottom: 25px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.5);
    text-align: left;
}

.movieTrailerDescription {
    font-weight: 400;
}

.movieTrailerBtnContainer {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.movieTrailerPlayBtn {
    all: unset;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
}

.movieTrailerInformationBtn {
    all: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.5);
    font-weight: 700;
    background-color: rgba(109, 109, 110, 0.7);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1.5);
    width: fit-content;
}

.movieTrailerPlayBtn:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.movieTrailerInformationBtn:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.playIcon,
.informationIcon {
    font-size: 22px !important;
    margin-right: 8px;
}


@media screen and (max-width: 730px) {

    .movieTrailerPlayBtn,
    .movieTrailerInformationBtn {
        font-size: 12px;
        padding: 6px;
    }

    .movieTrailerTitle {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .movieTrailerDescription {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .movieTrailerContent {
        width: 70%;
        top: 50%;
    }

    .movieTrailerImage {
        height: 60vh;
        object-fit: cover;
    }

}

/* movies */

.moviesContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #141414;
    padding: 30px;
    padding-top: 120px;
    overflow-x: hidden;
    min-height: 100vh;
}

/* movie-card */

.movieCardContainer {
    position: relative;
    width: 235px;
    height: 240px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 50px;
    transition: transform 0.3s;
    box-shadow: rgba(0, 0, 0, 0.3);
}

.movieCardContainer:hover {
    position: relative;
    z-index: 100;
    transition: ease-in 0.3s;
    transform: scale(1.1) translate(0, -20%);
    box-shadow: none;
}

.movieCardContainer:hover .movieImage {
    height: 70%;
    box-shadow: none;
}

.movieImage {
    width: 100%;
    height: 75%;
    margin-bottom: -10px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.movieCardContent {
    width: 100%;
    height: fit-content;
    display: none;
    background-color: #181818;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.5);
    transition: opacity 0.3s;
    padding: 10px;
    padding-top: 20px;
    border-radius: 4px;
    border: 1px solid hsla(0, 0%, 100%, .15);
}

.movieCardContainer:hover .movieCardContent {
    display: block;
}

.movieCardContentTitle {
    font-size: 12px;
    margin-top: -5px;
}

.movieKeyword {
    font-size: 12px;
    margin-right: 5px;
}

.movieCardBtnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.movieCardContentBtn {
    display: flex;
    gap: 10px;
}

.playContentBtn,
.moreInfoBtn,
.likeBtnIcon {
    color: #fff;
}

.likeColor {
    color: rgb(6, 219, 6);
    border-color: rgb(6, 219, 6) !important;
}

.playContentBtn:hover {
    border-color: #fff;
}

.addContentBtn,
.playContentBtn,
.likeBtn,
.moreInfoBtn,
.volumeIcon {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid hsla(0, 0%, 100%, .5);
    background-color: rgba(42, 42, 42, .6);
    cursor: pointer;
}

.addContentBtn:hover,
.likeBtn:hover,
.moreInfoBtn:hover,
.volumeIcon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #fff;
}

.likeBtnIcon {
    font-size: 14px !important;
}

.moreInfoBtn {
    padding: 0;
}

.moreInfoIcon {
    font-size: 14px;
}

.matchContent {
    color: #46d369;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
}

.matchContentAge {
    border: 1px solid hsla(0, 0%, 100%, .5);
    color: #cccccc !important;
    padding: 1px 3px;
    margin-left: 5px;
}

.addBtnIcon,
.playBtnIcon {
    font-size: 16px !important;
    color: #fff !important;
}

.loaderContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #e50914;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 770px) {
    .movieImage {
        height: 90%;
    }

    .searchSuggestionsContainer {
        padding: 15px 0;
    }
}

@media screen and (max-width: 550px) {

    .moviesContainer {
        padding: 0;
        padding-top: 140px;
    }

    .movieCardContentTitle {
        font-size: 10px;
    }

    .movieCardContainer:hover .movieImage {
        height: 70%;
    }

    .playContentBtn,
    .addContentBtn {
        font-size: 10px;
    }

    .playBtnIcon,
    .addBtnIcon,
    .likeBtnIcon {
        font-size: 12px !important;
    }

    .moreInfoIcon {
        font-size: 19px !important;
    }

    .matchContent {
        font-size: 12px;
    }

    .movieKeyword {
        font-size: 10px;
        margin-right: 3px;
    }

    .matchContentAge {
        font-size: 12px;
    }
}

/* home */

.homePage {
    background: #141414;
    overflow-x: hidden;
}

.movieCategoriesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 80px;
}

.subCategoriesContainer {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    z-index: 1;
    width: 100%;
}

.categoryName {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: -10px;
}

.arrowIcon {
    font-size: 20px !important;
    color: grey;
    text-shadow: rgba(0, 0, 0, 0.3) !important;
}

.categoriesMovieList {
    display: flex;
    flex-wrap: nowrap;
    z-index: 1;
    padding: 20px 0 0 5px;
    padding-bottom: 40px;
    position: relative;
    height: auto;
    width: fit-content;
    overflow-x: visible;
}

.categoriesCard {
    width: 250px;
    transition: transform 0.3s;
}

.categoriesCard:hover {
    transform: scale(1.1) translate(0, -20%);
}

.paginationButtons {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    z-index: 1000;
    padding: 0 16px 0 18px;
}

.paginationButtons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 50%;
}

.arrowIcon {
    color: #fff !important;
    opacity: 0.7;
    text-shadow: rgba(0, 0, 0, 0.3) !important;
}

.arrowIcon:hover {
    opacity: 1;
    transform: scale(1.4);
}


@media (min-width: 481px) and (max-width: 768px) {
    .categoriesMovieList {
        padding: 20px;
    }

    .categoriesCard:hover {
        transform: scale(1.1) translate(0, -35%);
    }

    .movieCardContainer {
        width: 200px;
        height: 130px;
        padding: 0 5px;
    }

    .paginationButtons {
        top: 30%;
        left: 0;
        transform: translateY(-50%);
        padding: 8px;
    }

    .paginationButtons button {
        margin: 0;
        padding: 2px;
    }

    .categoryName {
        font-size: 18px;
        padding-left: 23px;
    }
}

@media (max-width: 480px) {
    .movieCardContainer {
        width: 150px;
        height: 110px;
        padding: 0;
    }

    .categoriesCard:hover {
        transform: scale(1.1) translate(0, -35%);
    }

    .arrowIcon {
        font-size: 18px !important;
    }

    .paginationButtons {
        top: 25%;
        padding: 0 6px 0 0;
    }

    .categoriesMovieList {
        padding: 10px;
        padding-bottom: 25px;
    }

    .categoryName {
        font-size: 16px;
        padding-left: 15px;
        margin-bottom: 8px;
    }

    .categoriesCard {
        padding: 0;
    }

    .movieCategoriesContainer {
        padding-top: 40px;
    }

    .movieCardContainer {
        padding: 0 5px;
    }
}


/* mylist */

.myListContainer {
    display: flex;
    flex-wrap: wrap;
    background: #141414;
    padding: 120px 4% 30px 4%;
    justify-content: space-evenly;
    overflow-x: hidden;
    min-height: 100vh;
}

@media screen and (max-width: 730px) {

    .myListContainer {
        padding: 0 5px;
        padding-top: 130px;
    }

}

/* account */

.accountHeader {
    background-color: rgba(0, 0, 0, .97);
    margin-bottom: 0;
}

.accountFooter {
    margin-top: 0;
    background-color: #f2f2f2;
}

.accountPage {
    background-color: #f2f2f2;
    border-bottom: 1px solid #c5c5c5;
    padding: 40px 100px;
}

.accountDetailsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.redeemGift {
    display: flex;
    justify-content: right;
}

.cancelMembershipBtn {
    padding: 10px 30px;
    border: none;
    background: #eaeaea;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}

.upiImage {
    width: 50px;
    height: 40px;
}

.settings,
.planDetails,
.detailsAndBtns,
.upiContainer,
.updateAccountContainer {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
    border-bottom: 1px solid #d3d3d3;
}

.redeemGift {
    padding: 25px 10px;
}

.settings {
    width: 50%;
    border: none;
}

.accountSignOutBtn {
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.securityPrivacy {
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
}

.securityManage {
    display: flex;
    justify-content: space-between;
}

.new {
    padding: 3px 5px;
    background-color: #0073e6;
    color: white;
    font-weight: 600;
    font-size: 12px;
    margin: 0 5px;
}

.detailsAndBtns,
.upiContainer {
    border-bottom: 1px solid #e1e0e0;
}

.accountDetailsHeader,
.cancelMemebership {
    color: #737373;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.accountHeading {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: 400;
    padding: 25px 10px;
}

.securityPrivacy {
    border-bottom: 1px solid #d3d3d3;
}

.cursorBtn {
    cursor: pointer;
}

.cancelMemebership {
    font-size: 20px;
    width: 250px;
    margin-bottom: 15px;
}

.accountSubHeading {
    color: #555 !important;
    font-size: 16px;
    font-weight: 700;
}

.userEmailAccount {
    color: black;
    font-weight: bolder;
}

.accountIcon {
    font-size: 25px !important;
    color: #e50914 !important;
    margin-left: 20px;
    margin-right: 5px;
}

.accountDetailsBtn {
    color: #0073e6;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: right;
}

.accountDetailsBtn:hover {
    text-decoration: underline;
}

@media screen and (max-width: 850px) {
    .accountPage {
        padding: 20px;
    }

    .membershipAndBiling {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 20px;
    }

    .accountHeading {
        font-size: 18px;
    }

    .accountSubHeading {
        font-size: 12px;
    }

    .updateAccountContainer {
        flex-direction: column;
    }

    .cancelMembershipBtn {
        font-size: 12px;
    }

    .upiImage {
        width: 40px;
        height: 30px;
    }

    .cancelMemebership {
        font-size: 16px;
        width: auto;
        margin-bottom: 0;
    }

    .accountDetailsHeader {
        font-size: 12px;
    }

    .accountDetailsBtn {
        font-size: 12px;
        text-align: center;
    }

    .new {
        font-size: 10px;
    }

    .settings {
        width: 70%;
    }

    .settingsBtns>p {
        text-align: right;
    }

    .changeBtns>p {
        text-align: right;
    }

    .manageBtns>p {
        text-align: right;
    }
}

@media screen and (max-width: 450px) {
    .settings {
        width: 85%;
    }
}

/* update-password */

.accountDropdown {
    margin-right: 20px;
}

.updatePasswordPage {
    background-color: #f2f2f2;
    border-bottom: 1px solid #c5c5c5;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.inputContainer {
    width: 45%;
}

.inputAccount {
    width: 100%;
    padding: 14px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #737373;
}

.inputAccount:focus {
    outline: 2px solid #057dff;
    border: none;
}

.forgotPassword {
    color: #057dff;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.inputCheckboxAccount {
    margin-right: 8px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.accountpasswordError {
    color: #b92d2b;
    font-size: 13px;
    margin-top: 5px;
    display: none;
}

.updatePasswordInput {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accountBtns {
    display: flex;
    gap: 10px;
}

.saveAccountBtn {
    padding: 12px 35px;
    background-color: #057dff;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.cancelAccountBtn {
    padding: 12px 35px;
    background-color: #b3b3b3;
    color: #333;
    font-weight: 600;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.saveAccountBtn:hover {
    background-color: #1b83f3;
}

.cancelAccountBtn:hover {
    background-color: #c7c7c7;
}

@media screen and (max-width: 500px) {
    .updatePasswordPage {
        padding: 40px 50px;
    }

    .inputContainer {
        width: 100%;
    }

    .inputAccount {
        font-size: 12px;
    }

    .changeHeading {
        font-size: 20px;
    }

    .changeText {
        font-size: 14px;
    }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
    .updatePasswordPage {
        padding: 50px 70px;
    }

    .inputContainer {
        width: 80%;
    }

    .inputAccount {
        font-size: 14px;
    }

    .changeHeading {
        font-size: 22px;
    }

    .changeText {
        font-size: 16px;
    }
}

/* manage-profile */

.manageProfilePage {
    min-height: 100vh;
    background-color: #141414;
    padding: 80px 25%;
}

.manageProfileHeading {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3);
    font-size: 4vw;
    font-weight: 400 !important;
}

.imageAndDetailsContainer {
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    display: flex;
    gap: 30px;
    padding: 20px 10px;
}

.profileDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profilerightSide {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.managePofileUserName {
    background: #666;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3vw;
    padding: 4px 12px;
}

.profileLanguage {
    color: #fff;
}

.profileDropdown {
    background-color: #000;
    border: 1px solid hsla(0, 0%, 100%, .9);
    color: #fff;
    font-weight: 500;
    padding: 3px 40px 3px 10px;
    font-size: 14px;
    width: fit-content;
    cursor: pointer;
}

.accountGameText {
    color: rgb(204, 204, 204);
    font-weight: 400;
}

.accountText {
    font-size: 1vw;
    color: #fff;
}

.autolayText {
    color: rgb(204, 204, 204);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}

.accountText span {
    font-weight: 600;
}

.profileBtn {
    width: fit-content;
    padding: 8px 25px;
    cursor: pointer;
}

.profileBtnContainer {
    display: flex;
    gap: 50px;
    padding-top: 30px;
}

.profileSaveBtn {
    font-weight: 600;
}

.profileCancelBtn {
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
}

.accountCreateGame {
    background: #666;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 500;
    padding: 3px 40px 3px 10px;
    font-size: 16px;
}

.profileSettings {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    gap: 12px;
    padding: 15px 0;
}

.profileEdit {
    border: 1px solid grey;
    color: grey;
    padding: 6px 20px;
    width: fit-content;
    font-size: 14px;
}

.editProfileImage {
    position: relative;
}

.editIcon {
    position: absolute;
    top: 70px;
    left: 5px;
    color: #fff;
    cursor: pointer;
}

.profileEditIcon {
    background-color: rgba(0, 0, 0, .7);
    text-shadow: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.autoplayText {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}

.profileSettingsHeader {
    color: #ccc;
    margin: 0 0 7px;
    font-size: 1.3vw;
    font-weight: 400;
}

.profileCheckbox {
    height: 20px;
    width: 25px;
    cursor: pointer;
}

.profileCheckbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.profileCheckbox:checked {
    background-color: black;
}

.profileCheckbox::after {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
    display: none;
}

.profileCheckbox:checked::after {
    display: block;
}


.profileSettingsSubHeader {
    background: #333;
    border-radius: 2px;
    font-weight: 500;
    padding: 7px 10px;
    color: #ffffff;
    font-size: 14px;
    width: fit-content;
}

.profileSettingsText {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    .manageProfilePage {
        padding: 50px 5%;
    }

    .manageProfileHeading {
        font-size: 6vw;
    }

    .managePofileUserName {
        font-size: 14px;
    }

    .profileImage {
        width: 80px;
        height: 80px;
    }

    .editIcon {
        top: 55px;
    }

    .accountText {
        font-size: 12px;
    }

    .profileSettingsHeader {
        font-size: 14px;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
    .manageProfilePage {
        padding: 70px 8%;
    }

    .accountText {
        font-size: 12px;
    }

    .profileSettingsHeader {
        font-size: 14px;
    }
}

/* content-details */

.contentVideo {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.contentDetailsContainer {
    width: 100%;
    padding: 20px;
}

.contentMovietitle {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    font-weight: 600;
}

.ContentDetailsBtnContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.volumeIcon {
    color: #f3f3f3;
}

.contentCardBttn {
    gap: 20px
}

.volumeIcon {
    font-size: 34px !important;
    padding: 3px;
    background-color: transparent !important;
}

.contentBtnIcon {
    font-size: 22px !important;
    padding: 2px;
}

.contentMatch {
    font-size: 16px;
    margin-bottom: 20px;
}

.contentMatchAge {
    font-size: 18px;
    margin-left: 10px;
}

.movieContentDetails {
    width: 100%;
    display: flex;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3);
}

.contentMovieDescription {
    font-size: 14px;
    font-weight: 400;
    width: 60%;
    padding-right: 20px;
}

.keywordsCastDirector {
    width: 40%;
    font-weight: 400;
    font-size: 13px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.moreLikethisContainer {
    width: 100%;
    padding: 20px;
}

.moreLikethisTitle {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding-left: 10px;
}

.moreLikethisMovies {
    background-color: transparent;
    padding: 0;
    overflow-y: hidden;
    padding-bottom: 20px;
}


@media screen and (max-width: 500px) {
    .css-1pjne0z {
        width: 90% !important;
    }

    .contentVideo {
        height: 195px;
    }

    .contentDetailsContainer {
        width: 100%;
        padding: 20px 10px;
    }

    .contentMovieDescription,
    .keywordsCastDirector {
        font-size: 12px;
    }

    .contentMatch {
        font-size: 14px
    }

    .contentMatchAge {
        font-size: 16px;
    }

    .contentCardBttn {
        gap: 10px;
    }

    .contentMovietitle {
        font-size: 16px;
    }

    .moreLikethisMovies {
        padding-bottom: 40px;
    }

    .movieContentDetails {
        flex-direction: column;
    }

    .contentMovieDescription,
    .keywordsCastDirector {
        width: 100%;
        padding: 10px 0;
    }

}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .css-1pjne0z {
        width: 75% !important;
    }

    .contentVideo {
        height: 250px;
    }

    .contentDetailsContainer {
        width: 100%;
        padding: 20px 15px;
    }

    .contentMovieDescription,
    .keywordsCastDirector {
        font-size: 13px;
    }

    .contentMatch {
        font-size: 14px
    }

    .contentMatchAge {
        font-size: 16px;
    }

    .contentCardBttn {
        gap: 12px;
    }

    .contentMovietitle {
        font-size: 16px;
    }

    .moreLikethisMovies {
        padding-bottom: 50px;
    }
}

/* play video */

.videoPlayContainer {
    width: 100%;
    object-fit: cover;
    background-color: #141414;
    height: 100vh;
}

.movieVideo {
    width: 100%;
    height: 100%;
}