body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loaderContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #e50914;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon_text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.useAccountImg {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.accountItems {
    cursor: pointer !important;
}

.accountItemsIcons {
    color: white !important;
    padding: 0 13px 0 5px !important;
}

.iconText {
    color: #fff;
}

.iconText:hover {
    text-decoration: underline;
}

.lastIcon {
    text-align: center;
    border-top: 1px solid white;
    padding: 5px;
    padding-top: 10px;
}

.accountIcons {
    color: #b3b3b3 !important;
}

.menuList {
    background-color: rgba(0, 0, 0, .75) !important;
    border: 1px solid hsla(0, 0%, 100%, .15) !important;
    padding: 10px !important;
    z-index: 1000;
}

.errorComponent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    background: #141414;
}