/* signin */
.sign {
    min-height: 100vh;
    width: 100%;
    background: url("../assets/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 180px 100px black;
}

.logo {
    display: flex;
    justify-content: left;
    width: 100%;
}

.headerLogo {
    height: 55px;
    width: 175px;
    margin: 5px 0;
    margin-left: 30px;
    cursor: pointer;
}

.container {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 70px 60px;
    color: #737373;
    min-height: 515px;
    max-width: 450px;
    margin: 20px 0;
}

.signinForm {
    width: 100%;
}

.input {
    border-radius: 4px;
    background-color: #333 !important;
    padding: 16px 20px;
    width: 100%;
    border-bottom: 2px solid #e87c03 !important;
    color: #8c8c8c !important;
}

.input::after {
    outline: none !important;
}

.input2 {
    margin-top: 20px !important;
}

.signinHeader {
    color: #fff;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 28px;
}

.error {
    color: #e87c03;
    padding: 6px 3px;
    font-size: 13px;
    display: none;
}

.signinBtn {
    background-color: #e50914;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    width: 100%;
    color: #fff;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 14px;
    cursor: pointer;
}

.signinBtn:hover {
    background-color: #87050b;
}

.forgot {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 80px;
}

.signupLink {
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.link1 {
    color: #fff;
    margin-left: 8px;
    text-decoration: none;
    cursor: pointer;
}

.bottomText {
    color: #8c8c8c;
    font-size: 13px;
    margin-top: 11px;
}

.clickable {
    color: #0071eb;
    cursor: pointer;
    margin-left: 5px;
}

.learnMore {
    display: none;
}

.checkbox-input {
    display: none;
}

.checkbox-label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    margin-right: 8px;
    border-radius: 2px;
}

.checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 4px;
}

.checkbox-input:checked+.checkbox-label::before {
    background-color: #333 !important;
}

.checkbox-label::after {
    content: "\2714";
    position: absolute;
    left: 3px;
    top: -2px;
    font-size: 15px;
    color: #000;
    font-weight: bolder;
    display: none;
}

.checkbox-input:checked+.checkbox-label::after {
    display: block;
}

.checkbox-label:hover::before {
    border-color: #666;
}

.inputLabel {
    display: flex;
    align-items: center;
}

.forgot {
    display: flex;
    justify-content: space-between;
}


.signinFooter {
    width: 100%;
    background: rgba(0, 0, 0, .75);
    padding: 30px 80px;
    margin-top: 80px;
}

.signinFooterList {
    display: flex !important;
    justify-content: space-between;
    padding-bottom: 20px;
}

.signin_Footer {
    display: flex;
    flex-direction: column
}

.footer_Item,
.footerDropdown {
    color: #737373;
    font-size: 16px;
}

.footerText {
    color: #737373;
    margin-bottom: 30px;
    font-size: 18px;
}

/* signup */

.signupContainer {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupLogoHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 100%;
}

.Btn1 {
    margin-right: 50px;
    width: 100px;
    font-weight: normal;
}

.success {
    margin-top: 5px;
    font-size: 18px;
    color: green;
    background-color: rgba(0, 255, 0, 0.1);
    text-align: center;
    padding: 10px 8px;
    border: 1px solid #2f912f;
    border-radius: 3px;
    display: none;
}

.loginBttns {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.logoBtn {
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    width: fit-content;
}

.logoImg {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:720px) {

    .signinFooter,
    .signupFooter {
        padding: 20px 10px;
    }

    .Btn1 {
        margin-right: 15px;
        font-weight: normal;
        padding: 5px;
    }

    .headerLogo {
        height: 55px;
        width: 140px;
        margin-left: 20px;
    }

    .footer_Item,
    .footerDropdown {
        font-size: 13px;
    }

    .footerText {
        font-size: 14px;
    }

    .signinFooterList {
        gap: 12px;
    }
}

/* default */

#container {
    background: url(../assets/images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    width: 100%;
    box-shadow: inset 0px 0px 250px 130px black;
}

.defaultPage {
    font-family: sans-serif !important;
    overflow-x: hidden;
}

.logo_Default {
    width: 200px;
    height: 50px;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
}

.language {
    font-size: 15px;
    background-color: black;
    color: white;
    opacity: 0.8;
    padding: 10px 17px;
    border-radius: 3px;
    cursor: pointer;
}

.navbar_Default {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn_Default {
    display: flex;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
    margin-bottom: 20px;
}

.borderDivs {
    background-color: #232323;
    height: 10px;
}

.signinBtn1 {
    font-size: 15px;
    background-color: #e50914;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.getStatedBtn {
    background-color: #e50914;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    width: 180px;
    color: #fff;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 14px;
    cursor: pointer;
}

.signinBtn1:hover,
.getStatedBtn:hover {
    background-color: #87050b;
}

#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.descriptionBigger {
    color: white;
    font-size: 50px;
}

.desscriptionSmall {
    color: white;
    font-size: 20px;
    padding: 8px;
    padding-bottom: 15px;
}

#finish-btn {
    padding: 10px 20px 10px 20px;
    font-size: 23px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.box {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: center;
    justify-content: space-between;
}

.image {
    width: 220px;
    border-radius: 2px;
    cursor: pointer;
}

.detail>h1 {
    font-size: 55px;
    padding-bottom: 7px;
}

.detail>p {
    font-size: 20px;
}

.detail {
    color: white;
    justify-content: center;
    padding: 10%;

}

.kidsection {
    padding: 5%;
}

.question_Blocks {
    background-color: #303030;
    margin-bottom: 10px;
    width: 80%;
    padding: 30px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.question_Blocks:hover {
    background-color: #454444;
}

.questionBlock {
    padding: 70px;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#question {
    background-color: black;
}

.questionCall {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 80px;
}

#last {
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer_List {
    color: gray;
}

.footerDropdown {
    font-size: 15px;
    padding: 10px 17px;
    background-color: black;
    cursor: pointer;
}

#defaultFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerItem {
    padding-top: 20px;
    font-size: 14px;
    width: fit-content;
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}

.footerItem:hover {
    color: #e50914;
}

.bottom {
    width: 800px;
}

.netflixIndia {
    color: gray;
    padding-top: 40px;
    padding-bottom: 50px;
}

.questionBlockHeader {
    color: white;
    margin-bottom: 20px;
}

.fourthPoster {
    width: 440px;
}

@media screen and (max-width:720px) {

    .logo_Default {
        width: 150px;
        height: 50px;
    }

    .detail>h1 {
        font-size: 28px;
    }

    .detail>p {
        font-size: 14px;
    }

    .descriptionBigger {
        font-size: 30px;
    }

    .desscriptionSmall {
        font-size: 16px;
    }

    .fourthPoster {
        width: 250px;
    }

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .questionBlockHeader {
        font-size: 30px;
    }

    .question_Blocks {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width:550px) {
    .defaultFooter {
        display: none;
    }

    .language {
        font-size: 10px;
        padding: 10px 9px;
    }

    .btn_Default {
        padding-right: 10px;
    }

    .logo_Default {
        padding-left: 10px;
        width: 110px;
        height: 40px;
    }

}

@media screen and (min-width:551px) and (max-width: 850px) {
    .footerItem {
        font-size: 14px;
    }

    .bottom {
        padding-left: 40px;
    }

    .questionCall {
        font-size: 16px;
    }

    #defaultFooter {
        display: flex;
        justify-content: left;
        gap: 100px;
    }

    .question_Blocks {
        font-size: 14px;
    }

    .questionBlockHeader {
        font-size: 30px;
    }

    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* Subscription */

.subscriptionFooter {
    width: 100%;
    background-color: #f3f3f3;
    padding: 30px 80px;
    margin-top: 80px;
}

.subscriptionDropdown {
    background-color: white;
}

.signoutBtn {
    all: unset;
    padding-right: 10px;
    width: 100px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.borderBottom {
    border-bottom: 1px solid #e6e6e6;
}

.sub_pTag {
    color: rgb(92, 91, 91);
}

.sub_tick {
    color: #e50914;
}

.sub_Header {
    color: rgb(92, 91, 91);
}

.terms {
    color: #0071eb;
}

.sub_pFooterTag {
    margin: 30px 0;
    font-size: 14px;
    color: #737373;
    text-align: justify;
}

.nextBtn {
    width: 25%;
}

.next {
    display: flex;
    justify-content: center;
}

.subscriptionContainer {
    margin: 100px 10%;
}

.subscriptionSection {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 40px 0;
}

.priceCards {
    border: 1px solid #a6a6a6;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.priceCards:hover {
    transform: scale(1.1);
    z-index: 1;
}

.price {
    padding: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #a6a6a6;
}

.price>p {
    color: rgb(92, 91, 91);
}

.featuresList {
    padding: 20px;
    padding-left: 30px;
}

.featuresList {
    color: rgb(92, 91, 91);
}

.priceCards:hover .price {
    background: rgb(68, 54, 140);
    background: linear-gradient(90deg,
            rgba(68, 54, 140, 1) 0%,
            rgba(122, 36, 104, 1) 35%,
            rgba(201, 15, 46, 1) 100%);
    color: white;
}

.priceCards:hover .price>p {
    color: white;
}

.priceCards:hover .featuresList .listText {
    color: black;
}

.priceCards:hover .featuresList {
    color: #e50914;
}

.priceCards.selected .price {
    background: rgb(68, 54, 140);
    background: linear-gradient(90deg,
            rgba(68, 54, 140, 1) 0%,
            rgba(122, 36, 104, 1) 35%,
            rgba(201, 15, 46, 1) 100%);
    color: white;
}

.priceCards.selected .price>p {
    color: white;
}

.priceCards.selected .featuresList .listText {
    color: black;
}

.priceCards.selected .featuresList {
    color: #e50914;
}

@media screen and (max-width:700px) {
    .subscriptionFooter {
        padding: 30px 20px;
        font-size: 12px;
    }

    .sub_Header {
        font-size: 14px;
    }

    .sub_Head {
        font-size: 18px;
    }

    .sub_pTag {
        font-size: 14px;
    }

    .nextBtn {
        font-size: 14px;
    }

    .sub_pFooterTag {
        font-size: 14px;
    }

    .featuresList {
        font-size: 14px;
    }

    .subscriptionSection {
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 701px) and (max-width: 950px) {
    .featuresList {
        font-size: 14px;
    }
}

/* Payment */

.launcingImgContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.launcingImgContainer>img {
    width: 70%;
}